body {
	background-color: lightblue;
	font-family: helvetica;
}

#main {
	width: 600px;
}

audio {
	margin-top: 10px;
	margin-bottom: 20px;
}

#loading {
	margin-top: 20px;
	margin-bottom: 20px;
}

.block {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	width: 500px;
	margin-bottom: 10px;
}
