body {
	background-color: lightblue;
	font-family: helvetica;
}

#main {
	width: 600px;
}

audio {
	margin-top: 10px;
	margin-bottom: 20px;
}

button {
	margin-top: 20px;
}

#params {
	display: flex;
	flex-direction: row;
	width: 400px;
	flex-wrap: wrap;
}

label {
	display: block;
	margin-top: 10px;
}

#loading {
	margin-top: 20px;
	margin-bottom: 20px;
}

.block {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	width: 500px;
	margin-bottom: 10px;
}

.audio-container {
  display: flex;
  align-items: center;
  gap: 8px; /* space between audio player and dot */
}

.status-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 8px;
  margin-top: -10px;
  background-color: gray; /* default */
}

.status-dot.generating {
  background-color: yellow;
}

.status-dot.ready {
  background-color: limegreen;
}