body {
	background-color: lightblue;
	font-family: helvetica;
}

input, select {
	display: block;
	margin-bottom: 20px;
}

label {
	display: block;
}

.prompt-wrapper {
	margin-bottom: 20px;
}

#main {
	display: flex;
	flex-direction: row;
}

#main > div {
	width: 600px;
}

#form-container, #results {
	border-left: 1px solid black;
	padding: 10px;
	margin-right: 40px;
	min-height: 400px;
}