<!DOCTYPE html>
<html>
<head>
<title>Prompt Testing</title>
<link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<h1>Prompt Testing</h1>
<p>go to <a href="/history">history</a></p>
<div id="main">
    <div>
    <h2>Setup</h2>
    <div id="form-container">
        <form id="prompt-form" method="get">

        <label for="initial-prompt">Initial Question:</label>
        <input type="text" value="when did it begin exactly?" name="initial-prompt" />

            <label for="model">Model:</label>
            <select id="model" name="model">
                <option value="dream_gpt2">Dream + GPT2</option>
                <option value="dream_email" selected>Dream + Email + GPT2</option>
            </select>

            <label for="mode">Follow up Mode:</label>
            <select id="mode" name="mode">
                <option value="single">Single Prompt</option>
                <option value="multiple" selected>Multiple Prompts</option>
            </select>

            <!-- Single prompts container -->
            <div id="single-prompt-section" style="display: none; margin-top: 10px;">
                <div class="prompt-wrapper">
                    <label for="single-prompt">Prompt:</label>
                    <textarea id="single-prompt" name="single-prompt" rows="4" cols="50"
                        placeholder="Enter your full prompt here..."></textarea>
                    <p> Note: the phrase "Separate each generated text with an underscore." is added onto this prompt on the backend to allow the single response of the model to be split into multiple phrases. You shouldn't need to add any additional separators. </p>
                </div>
            </div>

            <!-- Multiple prompts container -->
            <div id="multiple-prompts-section" style="margin-top: 10px;">
                <div id="follow-up">
                    <div class="prompt-wrapper">
                    <label for="claude-p1">Follow Up Prompt 1:</label>
                    <textarea id="claude-p1" name="claude-prompts" rows="4" cols="50"
                        placeholder="You are role playing a game of telephone, in which your task is to repeat a piece of text, indicated by <text></text> tags. Your role is to attempt to repeat the paragraph, though you misremember phrases, sometimes retaining their approximate meaning but changing the words, sometimes changing the meaning quite a bit but retaining some of the texture. Aim for a natural tone. Do NOT include any extra commentary or explanation."></textarea>
                    </div>
                </div>
                <button type="button" id="add-prompt-btn">+ Add Follow-Up Prompt</button>
            </div>


            <button type="submit">submit</button>
        </form>
    </div>
    </div>

    <div>
        <h2>Results</h2>
        <div id="results">
            <div id="initial"> </div>
            <form id="db-form">
                <div id="db-form-inner">
                </div>
                <button type="submit">submit to database</button>
            </form>
        </div>
    </div>
</div>
</body>
<script src="/static/main.js"></script>
</html>